.Rproj.user
.Rhistory
.RData
.Ruserdata
scratch
rsconnect
.DS_Store
*_cache
issues
dev
_posts/scopus_oa_tagging_changes/data/*.csv
_posts/scopus_oa_tagging_changes/data/*.RData
_posts/scopus_oa_tagging_changes/data/*.txt